<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Gossip Test by dtorres</title>
	</head>
	<body>
    
        <h2>Gossip Test by dtorres</h2>
        
	    <div>
	        <form method="POST" enctype="multipart/form-data" action="/gossiptest/resolve">
	            <table>
	                <tr><td><b>Test case to upload:</b></td><td><input type="file" name="file" /></td></tr>
	                <tr><td></td><td><input type="submit" value="Resolve" /></td></tr>
	            </table>
	        </form>
	    </div>
	
	    <div>
	        <ul>
	            <li th:each="file : ${files}">
	                <a th:href="${file}" th:text="${file}" />
	            </li>
	        </ul>
	    </div>
	    
        <div th:if="${testCase}">
            <b>Test case:</b>
            <pre th:text="${testCase}" />
        </div>
	    
        <div th:if="${solution!=null}">
            <b>Number of stops:</b> 
            <span th:text="${solution==0 ? 'NEVER' : solution}" />
        </div>
        
	</body>
</html>